<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <header class="">
        <div class="my-container ">

            <nav class="navbar navbar-expand-lg navbar-light ">

                <a href="#" class="navbar-brand ">
                    SpaceDevhub
                    <img src="../assets/images/Rectangle 6.png" style="width: 20px;" alt="logo">
                    <img src="../assets/images/Rectangle 7.png" style="width: 20px;" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggler navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-5">
                        <li class="nav-item mx-3">
                            <a href="index.html" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a href="work.html" class="nav-link">Our work</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a href="services.html" class="nav-link">Services</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a href="contact.html" class="nav-link">Contact</a>
                        </li>
                    </ul>
                    <div class="quote-btn-div">
                        <a href="#" class="btn quote-btn"> Get a quote</a>
                    </div>

                </div>
            </nav>
        </div>
    </header>

    <section class="intro">
        <div class="my-container">
            <div class="row container-fluid h-100">
                <div class="col-md-6">
                    <div class="div">
                        <h3 class="award-text mb-3"> award winning dev.</h3>
                        <h1 class=" intro-text text-center text-md-start">
                            We make your
                            website look
                            great.
                        </h1>
                        <img src="../assets/images/Vector 2.png" class="curve" alt="curve">
                        <div class="mt-5 ">
                            <a href="company.html" class="search text-white text-decoration-none">
                                <img src="../assets/images/Vector.png" alt="search">
                                Our work
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <img src="../assets/images/monitor 1.png" class="monitor" alt="monitor">
                </div>
            </div>
        </div>
    </section>
    <section class="developers">
        <div class="my-container">
            <div class="row pt-5 justify-content-center align-items-center">
                <div class="col-md-6">
                    <div class="row ">
                        <div class="py-5 d-flex flex-wrap text-center justify-content-around">

                            <div class="card">
                                <div class="card-body">
                                    <div class="card-img">
                                        <img src="../assets/images/Ellipse.png" alt="">
                                    </div>
                                    <div class="card-title mt-5 py-3 pt-5">
                                        <h5 style="color:  rgba(0, 120, 231, 1);">Usman Abdulhadi</h5>
                                    </div>
                                    <div class="card-text">
                                        <p class="lead">Award winning</p>
                                        <p class="lead">Frontend Developer</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="card-img">
                                        <img src="../assets/images/Ellipse 1.png" alt="">
                                    </div>
                                    <div class="card-title mt-5 py-3 pt-5">
                                        <h5 style="color:  rgba(0, 120, 231, 1);">Isa Abba</h5>
                                    </div>
                                    <div class="card-text">
                                        <p class="lead">Award winning</p>
                                        <p class="lead">Frontend Developer</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-md-6 eco-main ">
                    <h4 class="text-white p-5 eco-text">
                        Your website is the center of your digital eco-system,
                        like a brick and mortar location, the experience matters
                        once a customer enters, just as much as the erception
                        they have of you before they walk through your door.
                        <h4>
                </div>
            </div>
        </div>
    </section>

    <link rel="stylesheet" href="../assets/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script src="../assets/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
</body>

</html>